/*=============== BASE RESET ===============*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow: auto;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  display: flex;
  height: 100%;
  //overflow: hidden;
  flex-direction: column;
  background-color: var(--body-color);
  color: var(--title-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

::after,
::before,
input {
  outline: 0;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  overflow: hidden;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}